@font-face {
 font-family: "Jaapokki";
 src: url("./fonts/jaapokki-regular.ttf") format("ttf");
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');


.subtitles, .titles-articles, .littletitle{
  font-family: 'Jaapokki';
}

body{ font-family: 'Open Sans', sans-serif; }
.margin_bottom{
  margin-bottom: 20px;
}

a{
  color: inherit;
  font-style: inherit;
}

/* COLORS */
.nav_header, .titles_span, .hr_articles, .text-articles { color: #a1a1a1; }
.littletitle, .nav_header:hover{ color: #3eaf8d; }
.subtitles { color: #0081af; }

/* HR - Séparations */
.little_hr{
  width: 30px;
  border: 2px solid #0081af;
}
.bg_color{
  background-color: #fff;
  padding: 15px;
}

.marge, .bg_color{
  margin:10px;
}

.titles_span{
  font-size: 12px;
  font-style: italic;
}
.titles-articles{ font-size: 25px; }

/* Bold*/
.city, .bouton_primary, .bouton_nouveautes{ font-weight: 800; }



/* Backgrounds */
.section_articles{
  background-image: url("../img/backgroung_articles.png");
  background-size: cover;
  background-position: center;
  height: auto;
}

.section_nouveautes{
  background-image: url("../img/background_news.png");
  background-size: cover;
  background-position: center;
  height: 602px;
}


/* Boutons */
.bouton_primary{
  border-top: 3px solid #a1a1a1;
  color: #a1a1a1;
  padding-top: 10px;
}
.bouton_nouveautes{
  border-top: 3px solid #a1a1a1;
  border-bottom: 3px solid #0081af;
  color: #0081af;
  padding: 10px 0px;
}

.btn_primary {
  margin-top: 45px;
}
.btn_nouveautes, .bloc_principaux, .btn_actu {
  margin-top: 15px;
}

/*Text nouveautés*/
.txt_nouveautes{
  padding: 25px 90px;
  font-size: 14px;
}

.text_courant{
  font-size: 12px;
}

.txt_nouveautes{
  text-align: left;
}

/* ARROW */
.arrow{
  position: absolute;
  padding-top: 450px;
}
