<section class="grid-container">
  <div class="grid-x">
    <!--menu footer-->
    <div class="cell medium-6">
      <nav>
        <ul class="menu align-center">
          <li><img src="./assets/img/mentionslegales.png" alt="mentions légales" /><a href="#">Mentions Légales</a></li>
          <li><img src="./assets/img/mapp.png" alt="contact" /><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <!--reseaux sociaux-->
    <div class="cell medium-6">
      <ul class="menu align-center text-center" style="border: 1px solid red">
        <li><a href="#"><img src="./assets/img/twitter.png" alt="twitter"/></a></li>
        <li><a href="#"><img src="./assets/img/facebook.png" alt="facebook"/></a></li>
        <li><a href="#"><img src="./assets/img/instagram.png" alt="instagram"/></a></li>
      </ul>
    </div>
  </div>
